body {
    background-color: rgb(150, 207, 150);
}

.yup{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
}

.title{
    text-align: center; 
    font-size: 4vh;
    padding: 5px;
    border-radius: 15px; 
    border: 5px white; 
    background-color: rgb(100, 156, 100);
    width: 400px; 
}

#findFilm{
    margin: 4px auto; 

}
